.top {
  background-color: gainsboro;
}
.Racing {
  font-family: "Racing Sans One", cursive;
}
.tag {
  font-family: "Krona One", sans-serif;
}
.link {
  text-decoration: none;
}
.mn_size {
  font-size: xxx-large;
  color: black;
}
.tagline_size {
  font-size: 1.15em;
  font-weight: bold;

  color: red;
}
.center {
  display: flex;
  justify-content: center;
}
