.utube {
  display: flex;
  justify-content: center;
  width: 90%;
  color: aliceblue;
  padding-top: 1em;
}
.utubev {
  display: flex;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.data {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
.input_video {
  padding: 0.5em;
  width: 95%;
  height: 10vw;
  background-color: lightgray;
  border-radius: 1em;
  padding: 0.5em;
}
.btn {
  width: 100%;
  background-color: darkgrey;
  color: black;
  font-weight: bold;
}
.MuiButton-containedPrimary .MuiButton-contained.Mui-disabled {
  width: 100%;
}

.comment {
  display: flex;
}
.avatar {
  font-weight: bold;
  border: 0.5px solid gray;
  border-radius: 1em;
  padding: 0.5em;
}
.text {
  padding: 0.5em;
}
@media screen and (max-width: 800px) {
  .utube {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
